.santa-my-orders-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.santa-my-orders {
    display: flex;
    width: 60%;
}

.santa-my-order-list {
    flex: 1;
    margin-right: 5%;
}

.santa-my-order-details {
    flex: 2;
}