$button-color: #3498DB;

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: Arial;
}

.app {
    height: 100%;
}

.sf-page {
    height: 100%;

    display: flex;
    min-height: 100%;
    flex-direction: column;

    main {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 50px;
    }
}

.sf-button {
    border: solid transparent 2px;
    background: $button-color;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;

    &:hover {
        background-color: darken($button-color, 30%);
    }

    &:disabled {
        background-color: lighten($button-color, 30%);
    }
}