.client-profile-form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #FFECB3;
}

.client-register-form__control_street {
    width: 50%;
}

.client-register-form__control_house {
    width: 13%;
}

.client-register-form__control_apart {
    width: 13%;
}