.order-info-form {
    position: relative;
    background-color: #EFEBE9;

    &__santa-info {
        display: flex;
        text-align: center;
        justify-content: center;
        text-align: initial;
    }

    &__rating {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;

        &_hidden {
            display: none;
        }
    }

    &__rating-text {
        padding-top: 7px;
        padding-right: 15px;

        font-size: 1.4em;
        font-weight: bold;
        color: #777;
    }
}

.edit-buttons {
    position: absolute;
    right: 0;
    top: 0;
}

.edit-button {
    background-color: #D7CCC8;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    img {
        width: 32px;
        height: 32px;
    }

    &:disabled {
        background-color: #BDBDBD;
        cursor: inherit;
    }
}

.cancel-button {
    @extend .edit-button;
    border-bottom-left-radius: 0;
}

.save-button {
    @extend .edit-button;
    border-top-right-radius: 0;
    margin-right: -5px;
}