.present-info-form {
    width: 400px;
    margin: 20px auto;
    background-color: #E0E0E0;

    &__address {
        margin-bottom: 20px;
    }

    &__present-name {
        width: 48%;
        margin-right: 10px;
    }

    &__corner-delete {
        width: 20px;
        height: 20px;
        margin: -5px 0 0 -25px;
        font-size: 24px;
        background: #F44336;

        &:after {
            margin-top: 11px;
        }
    }

    &__presents {
        margin-bottom: 25px;
    }

    &__add-present-btn {
        margin: 0 auto;
        padding: 7px;
    }
}

.edit-label{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 4px;
    margin-left: 10px;
    visibility: hidden;
}

.edit-label-date{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: -48px;
    margin-left: 170px;
    visibility: hidden;
}
.form-info{
}
.form-info:hover{
    .edit-label{ visibility: visible; }
    .edit-label-date{ visibility: visible;}
}

.client-register-form__control_street {
    width: 50%;
}

.client-register-form__control_house {
    width: 13%;
}

.client-register-form__control_apart {
    width: 13%;
}

.form-change{
    background-color: #ffffff;
}
.back-button{
    width: 200px;
    float: right;
}
.orders-error{
    color: red;
}
.order-form{
    position: relative;
    left: 10%;
}
.l{
    position: relative;
    left: 25%;
    top: 30px;
}
.change-button{
    position: relative;
    left: 45%;
    top: -50px;
}
.f-height{
    height: 80px;
}