.client-form {
    &__control_street {
        width: 50%;
    }

    &__control_house {
        width: 13%;
    }

    &__control_apart {
        width: 13%;
    }

    &__control_street {
        width: 50%;
    }

    &__control_half-width {
        width: 39%;
    }
}
