<div class="orders-history-wrapper">
    <div class="error-message orders-error" *ngIf="errorMessage">
        {{ errorMessage }}
    </div>

    <div *ngIf="orders.length > 0" class="orders-history">
        <ul class="orders-list">
            <li *ngFor="let order of orders | paginate: paginationConfig">
                <div class="sf-card order-item" [ngClass]="getOrderClass(order)" (click)="onOrderItemClick(order)">
                    <div class="order-item__line order-item__common-info">
                        <div class="order-item__id order-item__bold-text">
                            # {{ order.id }}
                        </div>
                        <div *ngIf="order.status !== OrderStatus.New" class="order-item__line order-item__santa-info">
                            <div>
                                <img [src]="order.santaInfo.photoUrl" alt="Santa's photo'">
                            </div>
                            <div class="order-item__santa-info-text">
                                {{ order.santaInfo.name }}
                            </div>
                        </div>
                    </div>
                    <div class="order-item__line order-item__chidren-names">
                        <span class="order-item__bold-text">For:</span>
                        <span>{{ order.childrenNames }}</span>
                    </div>
                    <div class="order-item__line order-item__address">
                        <span class="order-item__bold-text">Address:</span>
                        <span>{{ order.address | address }}</span>
                    </div>
                    <div class="order-item__line order-item__datetime">
                        <span class="order-item__bold-text">Time:</span>
                        <span>{{ order.datetime | datetime }}</span>
                    </div>
                </div>
            </li>
        </ul>
        <pagination-controls [autoHide]="true" (pageChange)="onPageChanged($event)"></pagination-controls>
    </div>
    <div *ngIf="orders.length === 0" class="sf-empty-list-placeholder">
        <div>
            You have no orders yet
        </div>
    </div>
</div>