.client-home-page {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;

    &__order-area {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__list-area {
        margin-right: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.santa-preview-list {
    width: 500px;
}