.modal-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    min-width: 200px;
    min-height: 100px;

    &__close-button {
        position: absolute;
        color: #777;
        font: 18px/100% arial, sans-serif;
        text-decoration: none;
        text-shadow: 0 1px 0 #fff;
        top: 15px;
        right: 15px;

        &:after {
            content: '✖';
        }
    }
}
