.santa-register-form {
    width: 400px;
    // TODO move margin to outer block
    margin: 20px auto;

    &__photo-uploader {
        // FIX create styles for uploader component
        margin-left: 10%;
    }
}