.santa-preview-card {
    display: flex;
    width: 100%;

    &__img {
        margin: 5px;
        margin-right: 20px;

        img {
            width: 100px;
            height: 100px;
        }
    }

    &__name {
        font-size: 18px;
        font-weight: bold;
    }

    &__info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__stat {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
}