.santa-preview-list {
    list-style: none;
    width: 100%;
    padding-left: 0;
}

.santa-preview-item-wrapper {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}