.account {
    background-color: #3498DB;

    main {
        padding: 50px;
    }
}

.account-navbar {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 20%;
    background-color: #f3f3f3;

    &__logo {
        display: flex;
        align-items: center;
    }

    &__links {
        margin: 0;
        list-style-type: none;
        overflow: hidden;
    }

    &__link {
        float: left;

        a {
            display: block;
            color: #666;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;

            &:hover:not(.account-navbar__link_active) {
                background-color: #ddd;
            }
        }

        &_active {
            background-color: #FFD54F;
;
            color: white;
        }
    }
}

.account-form {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    text-align: center;

    &__title {
        text-align: center;
        color: #777;
    }

    &__label {
        float: left;
        color: #777;
        margin-left: 10%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    &__control {
        text-align: center;
        background-color: #ECF0F1;
        border: solid transparent 2px;
        border-radius: 3px;
        font-size: 16px;
        font-weight: 200;
        padding: 10px 0;
        margin-bottom: 10px;
        width: 80%;
        transition: border .5s;

        &_with-validation.ng-touched {
            &.ng-valid {
                border: 2px solid #009688;
                box-shadow: none;
            }

            &.ng-invalid {
                border: 2px solid #EF5350;
                box-shadow: none;
            }
        }

        &:focus {
            border: 2px solid #3498DB;
            box-shadow: none;
        }
    }

    &__button {
        border: solid transparent 2px;
        background: #3498DB;
        color: #ffffff;
        font-size: 16px;
        line-height: 25px;
        padding: 10px 0;
        text-decoration: none;
        text-shadow: none;
        border-radius: 3px;
        box-shadow: none;
        transition: 0.25s;
        display: block;
        width: 250px;
        margin: 0 auto;

        &:hover {
            background-color: #2980B9;
        }

        &:disabled {
            background-color: #c0def2;
        }
    }

    &__hint-text {
        font-size: 12px;
        color: #444;
        display: block;
        margin-top: 12px;
    }
}

.error-message {
    color: red;
}